.aboutMeContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.aboutMeDivIcon {
  flex: 1;
  min-width: 300px;
}

.aboutmeIcon {
  height: 300px;
  width: 100%;
}

.aboutmeBio {
  flex: 2;
  font-size: 15px;
  font-weight: 500;
  word-spacing: 2px;
  padding: 20px;
  text-align: justify;
  min-width: 300px;
}