.workEducationContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.workEducationContent {
  display: flex;
  flex-wrap: wrap;
  gap: 50px 200px;
}


/* worksContent */
.worksContent {
  width: 300px;
}
.worksContent:hover {
  color: #9FC088;
}

/* educationsContent */
.educationsContent {
  width: 300px;
}
.educationsContent:hover {
  color: #9FC088;
}

.experienceBody {
  display: flex;
  margin-left: 25px;
  color: #313131;
}

.experienceData {
  display: flex;
  flex-direction: column;
  margin-left: -14px;
  margin-top: 15px;
}

.dataContent {
  display: flex;
  margin-bottom: 20px;
}

.dataInnerContent {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.technologiesUsedContent {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  width: 200px;
}
.technologiesUsedLabel {
  font-size: 13px;
  font-weight: 600;
}
.technologiesUsedData {
  font-size: 13px;
  font-weight: 400;
}
