.container {
  padding: 20px;
}

.skillPlateContainer {
  display: flex;
  flex-direction: column;

  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  background-color: #FBF8F1;
}

.skillPlateContent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.skillItemContent {
  display: flex;
  flex-direction: column;

  margin: 10px;
  min-width: 150px;
  border: 1px solid #000000;
  border-radius: 4px;
}
.skillItemContent:hover {
  cursor: crosshair;
}

.SICIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #E9DAC1;
}

.SICLabel {
  font-size: 15px;
  font-weight: 300;
  text-align: center;
  padding: 0 10px;
  border-top: 1px solid #000;
}

.skillIcons {
  font-size: 30px;
  margin: 5px;
}
