.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
  background-color: #191919;
}

.footerCopyright {
  font-size: 15px;
  font-weight: 500;
  color: #ffffff;
}

.footerSocialsIcon {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}

.socialIconTag {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  padding: 10px;
  background-color: #303030;
  border-radius: 50%;
  color: #65C18C;
}

.socialIconTag:last-child {
  margin-right: 0;
}

.socialIcon {
  font-size: 20px;
}

.socialIconTag:hover, .socialIconTag:active {
  color: #84ffb7;
  background-color: #3a3a3a;
}
