.container {

}

.experienceContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.experienceContent {
  display: flex;
}


/* worksContent */
.worksContent {

}

/* educationsContent */
.educationsContent {

}
